.events{
    margin: 1em 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*border: 5px solid darkred;*/
}

.events-message {
    max-width: 33em;
    /*border: 5px solid lawngreen;*/
}

.events-message p, li {
    font-size: 1.2em;
}

.book-button {
    background-color: #ff66c6;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5em;
    font-family: Verdana, Geneva, sans-serif;
    /*border: solid 5px black;*/
}

.timeline {
    margin-top: 1em;
    color: black;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: orange 5px solid;*/
}

.timeline-header {
    background-color: #ff66c6;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    /*border: 5px solid black;*/
}

.fb-page {
    background-color: #ff66c6;
    padding-bottom: 2em;
    /*border: red 5px solid;*/
}

