.faq-body {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}

.answer {
    padding-left: 1.6em;
    padding-bottom: 1.5em;
    padding-right: 1em;
    display:none;
    /*border: 5px orange solid;*/
}

.faq-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 5px blue solid;*/
}

.faq-div p {
    margin-left: 0.5em;
}