.header {
    display: flex;
    flex-wrap: wrap;
    /*border: solid 5px orangered;*/
    align-items: center;
}

.nav-container {
    background-color:#ff66c6;
    height: auto;
    width: 100%;
    /*border: solid 5px yellow;*/

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-container a {
    width: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    line-height: 4em;
    font-family: Verdana, Geneva, sans-serif;
    /*border: solid 5px red;*/
}

